body {
		background-color: #b6a19e;
		font-family: "courier new", monospace;
}

#bg-top {
		background: url("../images/gorge_out_of_focus_tall.png");
		background-repeat: no-repeat;
		height: 800px;
		width: auto;
}

nav {
		position: relative;
		font-size: 25px;
		background-image: url("../images/66aa99.png");
		float: right;
		font-weight: bold;
		height: 100%;
		width: 15%;
}

#nav-list {
		position: relative;
		top: 35%;
		transform: translateY(-50%);
}

#nav-quote {
		position: relative;
	    border-top: 1px dashed #ffffff;
	    border-bottom: 1px dashed #ffffff;
	    padding: 10px;
	    font-weight: normal;
	    text-align: justify;
	    top: 38%;
}

.menu {
		list-style-type: none;
		margin: 50px 0 50px 0;
		
}

h1  {	
		color: #ffffff;
		font-size: 50px;
		font-weight: bold;
}

h2 { 
		color: #ffffff;
		font-size: 35px;
 }

 #in-pursuit {
 		float: left;
 		top: 5%;
 }

 #burn {
 		top: 13%;
 		right: 20%;
 		position: relative;
 }

h3 {
		color: #ffffff;
		font-size: 25px;
}

p {
		font-family: "courier new", monospace;
		color: #ffffff;
		font-size: 16px;
}

a {
		font-family: "courier new", monospace;
		font-style: normal;
		text-decoration: none;	
		color: #ffffff;
}