
@import url(https://fonts.googleapis.com/css?family=Over+the+Rainbow);

body {
		background-color: #b6a19e;
		font-family: 'Over the Rainbow', cursive;
}

#bg-top {
		background: url("../images/gorge_out_of_focus_tall.png");
		background-position: top;
		background-repeat: no-repeat;
		height: 800px;
		width: auto;
}

nav {
		position: fixed;
		font-size: 25px;
		background-image: url("../images/81AAC1.png");
		right: 0;
		font-weight: bold;
		height: 100%;
		width: 15%;
}

#nav-list {
		position: fixed;
		top: 35%;
		transform: translateY(-50%);
}

#nav-quote {
		position: fixed;
		width: 13%;
	    border-top: 1px dashed #ffffff;
	    border-bottom: 1px dashed #ffffff;
	    padding: 10px;
	    font-weight: normal;
	    text-align: justify;
	    top: 75%;
}

.menu {
		list-style-type: none;
		margin: 50px 0 50px 0;
		
}

h1  {	
		color: #ffffff;
		font-size: 75px;
		font-weight: bold;
}

h2 { 
		color: #ffffff;
		font-size: 45px;
 }

 #in-pursuit {
 		float: left;
 		top: 5%;
 }

 #burn {
 		top: 20%;
 		right: 20%;
 		position: relative;
 }

h3 {
		color: #ffffff;
		font-size: 25px;
}

p {
		color: #ffffff;
		font-size: 16px;
		line-height: 1.5em;

}

a {
		font-style: normal;
		text-decoration: none;	
		color: #ffffff;
}

#bags {

}